

hrml {
    font-size: 18px;
    --orange: #FFBE9A;
}











body {
    display: grid;
    grid-template-rows: repeat(4,auto);
    margin: 0em;
    color: #2B2B2B;
}
.white {
    color:white;
}

.sluzby {margin-left: 21px;margin-right: 21px;}
.sluzby_galery {
    margin-top: 80px;

}
h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;

    color: #2B2B2B;
}
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.nabidky {
    width: 100%;
    height:189px;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(./media/background-CTAblock-4460w.jpg);
    background-size: cover;
    background-position-x: -50px;
}

.reference {
    
    margin-left: 1rem;
    margin-right: 1rem;

}

.reference_image {height:200px;}
.service_image {
    width: 320px;
    height:134px;
    object-fit: cover;
    display:block;
}
.left-round { border-bottom-left-radius:40px ;}
.right-round {border-bottom-right-radius:40px ;}

.footer {
width: 100%;
height: 283px;

background-color: #EB6C27;
}

.navbar {
    height: 44px;
    margin:1em;
    display:flex;
    justify-content: space-between;
}
.navbar img {
    object-fit: contain;
    height:100%;
    
}


.line {
    height:8px;
    width:46px;
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
}
menu p {
    font-size: 12px;
    margin:0px;
}
menu {
    height: 100%;
    display:grid;
    grid-template-rows: repeat(4,13px);
    align-items: center;
    
}
.architects-logo {
    
    height:269px;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url(./media/pageheader-1920w.jpg);
    background-blend-mode: normal, normal, hue, normal;
    background-size:781px;
background-position-x: 604px;
background-position-y: 50%;
 }


    .architects-logo p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 41px;
    }




    /*/ hamburger*/

    .hamburger__menu::after {
    content:"";
    }




/* MENU - navbar */

.menu__content {
    background-color:var(--orange);
    padding:1rem 100%;

}
    


/* BUTTON */

.button {
    padding--top: 2px, 40px;
    border-width:2px;
}

.button--blank {
    border-color:white;
    border-style:dashed;
    border-color:var(--orange);
}

.button fill {
    border-color: var(--orange);
    border-style: solid;
    background-color: var(--orange);
}






